<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Перевод денег</title>
</head>
<body>
<!--    <form th:method="PATCH" th:action="@{/clients/{id}/transferConfirmation(id=${clientId})}">-->
<!--        <label for="cardFrom">Карта отправления: </label>-->
<!--        <input th:type="text" th:field="${cardFrom.id}" id="cardFrom">-->
<!--        <select id="cardFrom" th:field="${cardFrom.id}" >-->
<!--            <option th:each="card : ${cards}" th:value="${card.getId}" th:text="${card.getId}"></option>-->
<!--        </select>-->
<!--        <br>-->
<!--        <br>-->
<!--        <label for="cardTo">Карта получателя: </label>-->
<!--        <input th:type="text" th:field="${transferCard.id}" id="cardTo">-->
<!--        <br>-->
<!--        <br>-->
<!--        <label for="amount">Сумма перевода: </label>-->
<!--        <input th:type="text" th:field="${transferCard.balance}" id="amount">-->
<!--        <input type="submit" value="Перевести">-->
<!--    </form>-->

<form th:method="PATCH" th:action="@{/clients/{id}/transactionConfirmation(id=${clientId})}" th:object="${transaction}">
    <label for="cardFrom">Карта отправления: </label>
    <select th:field="*{source}" id="cardFrom">
        <option th:each="card : ${cards}" th:value="${card.getId}" th:text="${card.getId} + ' Баланс: ' + ${card.getBalance}"></option>
    </select>
    <div style="color: red" th:if="${#fields.hasErrors('source')}" th:errors="*{source}">source error</div>
    <br>
    <br>
    <label for="cardTo">Карта получателя: </label>
    <input th:type="text" th:field="*{destination}" id="cardTo">
    <div style="color: red" th:if="${#fields.hasErrors('destination')}" th:errors="*{destination}">destination error</div>
    <br>
    <br>
    <label for="amount">Сумма перевода: </label>
    <input th:type="text" th:field="*{amount}" id="amount">
    <div style="color: red" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">Amount error</div>
    <br>
    <input type="submit" value="Перевести">
</form>
    <br>
    <a th:href="@{/clients/{id}(id=${clientId})}">Назад</a>
</body>
</html>